$login-color: #4fc54f;

.login {
    &-page {
        position: relative;
        width: 100%;
        height: 500px;
        color: #ffffff;
    }

    &-form {
        padding: 15px;
        width: 30%;
        top: 30%;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        background: $login-color;
        border-radius: 10px;

        button {
            min-width: 100px;
            padding: 10px;
            border-radius: 5px;
            border: none;
            background: #007bff;
            color: #ffffff;
            box-shadow: 3px 3px 3px 0px rgb(43, 40, 34);
        }

        .error-message {
            color: #a90000;
            padding: 10px;
            font-weight: bold;
        }
    }
}

.form-input {
    margin: 1.5em;

    input {
        min-width: 300px;
        min-height: 30px;
        border-radius: 5px;
        border: whitesmoke;
        padding: 5px;
        box-shadow: 3px 3px 3px 0px rgb(43, 40, 34);
    }
}