nav {
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: $dark-100;

      li {
          float: right;
          transition-duration: 0.5s;
          &:hover,
          &:focus-within {
            background: $green-50;
            cursor: pointer;
          }
          a, .nav-dropdown {
              display: block;
              color: $white;
              text-align: center;
              font-weight: bold;
              padding: 1em;
              text-decoration: none;

              &:hover {
                  background-color: darken($green-50, 10%);
                  //border-bottom: 2px solid $white;
              }
          }
      }
  }
}

.nav-dropdown {
float: left;
overflow: hidden;
&:hover .nav-dropdown-content {
  display: block;
  transition-duration: 0.5s;

}
&-content{
  display: none;
  right: 0;
  top: 47px;
  position: absolute;
  background-color: darken($green-50, 10%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)rgba(0,0,0,0.2);
  z-index: 1;

  a {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    font-weight: 400;
    &:hover{
      background-color: $green-50;
      font-weight: bold;
    }
  }
}
}