$white : #ffffff;
$light-100: #e2e1e1;
$black: #000000;
$danger: #dc3545;
$green-50: #27ae60;
$green-100: #1f984f;
$green-200: #00922C;
$green-300: #007624;
$green-400: #005419;
$green-500: #23522f;
$dark-100: #333;
$grey-100: #999;
$blue : #007bff;
$background: #DAF3E7;

body {
  background: rgba(200, 216, 209, 0.3);
}

.App {
    font-size: 14px;
}

.container {
  margin: 0 5rem;
}
.col {
    &-1 {
        width: 8.33%;
        display: inline-block;
    }

    &-10 {
        width: 83.34%;
        display: inline-block;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &-group {
      &-right {
        text-align: right !important;
      }
    }

    span {
      padding: 10px;
    }

    :focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
    }

    &-danger {
        background: $danger;
        border-color: $danger;
        color: $white;
    }

    &-primary {
      background: $blue;
      border-color: $blue;
      color: $white;
  }
}

@import '../src/Component/navigation/navigation';
@import '../src/Component/login/login';
@import '../src/Component/home/home';
@import '../src/Component/article/article';
@import '../src/Component/profile/profile.scss';